-e git+https://github.com/ywalakamar/flaskr.git@84d5213cfd9e9cb2dfb97fd518d01f51947a039c#egg=app
astroid==2.3.3
attrs==19.3.0
autopep8==1.5
certifi==2019.11.28
chardet==3.0.4
Click==7.0
coverage==5.0.3
coveralls==1.10.0
docopt==0.6.2
Flask==1.1.1
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.1.0
packaging==20.0
pluggy==0.13.1
py==1.10.0
pycodestyle==2.5.0
pylint==2.4.4
pyparsing==2.4.6
pytest==5.3.4
pytest-cov==2.8.1
requests==2.22.0
six==1.14.0
urllib3==1.25.7
wcwidth==0.1.8
Werkzeug==0.16.0
wrapt==1.11.2
